/*alles*/
body {
    Margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.picture {
    height: 4vw;
}

/*nav*/
nav {
    padding: 2vw 20vw;
    margin: 0;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    color: #a87854;
    font-weight: bold;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-text,
.nav-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    flex: 1;
}

.nav a :hover {
    color: #b99470;
}

/*header*/
.header-home {
    margin: 0;
    padding: 4vw 4vw;
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 2px #282828;
}

.header-stats {
    margin: 0;
    padding: 1vw 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-stats h1 {
    color: #282828;
}

h1 {
    color: #a6b37d;
    font-weight: bold;
    font-size: 3rem;
}

/*main*/
.main-home {
    margin: 0;
    padding: 5vw 15vw;
    background-color: #ffffff;
}

.main-stats {
    margin: 0;
    padding: 0vw 15vw 5vw 15vw;
}

#products {
    display: flex;
    flex-direction: row;
}

.product-text {
    padding: 0vw 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin-top: 0;
    font-weight: bold;
    font-size: 1.5rem;
}

img {
    max-height: 30vw;
}

.soon {
    margin-bottom: 0;
    padding: 1vw 2vw;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: #a87854;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.stats {
    background-color: #a6b37d;
    border: solid 2px #282828;
    border-radius: 5px;
}

.generated-energy,
.consumed-energy,
.sun-hours,
.best-energy-yield,
.euro-saved {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    border-bottom: solid 1px #8c9768;
}

.stats-img {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.stats-img img {
    width: 7.5vw;
}

.stats-text {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.stats-text p {
    padding: 1vw;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*footer*/
footer {
    padding: 2vw 2vw;
    margin: 0;
    background-color: #282828;
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex: 3;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
}

footer p {
    color: #e9e9e9;
    font-size: 0.9rem;
}

footer a {
    text-decoration: none;
    color: #e9e9e9;
    margin: 1vw;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer a:hover {
    color: #ffffff;
}